<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ $inCoach := strings.HasPrefix .RelPermalink "/coach/" }}
        {{ $menu := .Site.Menus.main }}
        {{ if $inCoach }}{{ $menu = .Site.Menus.coach }}{{ end }}
        {{ range $menu }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        <li>
          {{ if $inCoach }}
            <a href="{{ "/" | absURL }}">Sito personale</a>
          {{ else }}
            <a href="{{ "/coach/" | absURL }}">Coaching</a>
          {{ end }}
        </li>
      </ul>
    </nav>
  </div>
</footer>
