<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    <div id="logo" style="background-image: url({{ .Site.Params.logo | absURL }})"></div>
  {{ else }}
    <div id="logo" style="background-image: url({{ "images/logo.png" | absURL }})"></div>
  {{ end}}
  <div id="title">
    <h1>{{ .Site.Title }}{{ if strings.HasPrefix .RelPermalink "/coach/" }} <span class="coach-badge">Coaching</span>{{ end }}</h1>
  </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      {{ $inCoach := strings.HasPrefix .RelPermalink "/coach/" }}
      {{ $menu := .Site.Menus.main }}
      {{ if $inCoach }}{{ $menu = .Site.Menus.coach }}{{ end }}
      {{ range $menu }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      <li class="site-switch">
        {{ if $inCoach }}
          <a href="{{ "/" | absURL }}">🏠 Sito personale</a>
        {{ else }}
          <a href="{{ "/coach/" | absURL }}">🏃 Coaching</a>
        {{ end }}
      </li>
    </ul>
  </div>
</header>

