{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.description | $.Page.RenderString }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
      <p>{{ i18n "find_me_on" }}
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
        <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}">
          <i class="fas fa-envelope"></i>
        </a>
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fas fa-rss"></i>
        </a>
        {{ else if eq $elem.name "scholar" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fas fa-graduation-cap"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fab fa-{{ lower $elem.name }}"></i>
        </a>
        {{ end }}
        {{ if (lt (add $index 2) $length) }}
          {{- print " , " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- printf " %s " (i18n "and_word") -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  {{ if isset .Site.Params "office" }}
    <p>{{ i18n "in_person_at" }}
      {{ range $elem := .Site.Params.office }}
      <a href="{{ $elem.link }}">{{ $elem.department }}</a>, {{ i18n "office_word" }} {{ $elem.office }}.
      {{ end }}
    </p>
  {{ end }}
  </section>

  <section id="heavyrotation">
    <span class="h1">{{ i18n "heavy_rotation" }}</span>
    <ul class="project-list">
        {{ range .Site.Data.heavyrotation.list }}
        <li class="project-item">
          {{ .artist }} - <a href="{{ .url }}">{{ .album }}</a>
        </li>
        {{ end }}
    </ul>
  </section>

{{ end }}
